*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* #menu-icon{
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 44px;
} */
#login{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 20px;
    padding-top: 10px;
    gap: 10px;
}
#login-button{
    background-color: #FDC631;
    color: #002347;
    border: none;
    padding: 8px 15px;
    border-radius: 50px;
}
#register-button{
    background-color: #002347;
    color: #FDC631;
    border: none;
    padding: 8px 15px;
    border-radius: 50px;
}
#login-button:hover{
    background-color: #002347;
    color: #FDC631;
    cursor: pointer;
}
#register-button:hover{
    background-color: #FDC631;
    color: #002347;
    cursor: pointer;
}
#blur-screen-login{
    width: 100%;
    height: 100vh;
    background-color: gray;
    opacity: 0.7;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
}
#blur-screen-login.blurlogin{
    display: block;
}
.login-form{
    width: 0px;
    height: 350px;
    background-color: #F9F9FF;
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 5px 40px;
    border-radius: 30px;
    display: none;
}
.login-form.login{
    width: 450px;
    display: block;
    transition: 0.2s;
}
#login-form-close-icon{
    margin-left: 380px;
    margin-bottom: 10px;
    font-size: 24px;
}
#login-form-close-icon:hover{
    color: red;
    cursor: pointer;
    font-size: 26px;
}
.login-form-input{
    width: 100%;
    height: 40px;
    margin-bottom: 40px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    background-color: lightgray;
    padding-left: 10px;
}
#login-form-button-login{
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 50px;
    border: none;
    background-color: #069862;
    cursor: pointer;
}
#login-form-register-line{
    margin-left: 130px;
    margin-top: 20px; 
}
#login-form-register-here{
    color: #069862;
    cursor: pointer;
    font-weight: bold;
}
#blur-screen-registration{
    width: 100%;
    height: 100vh;
    background-color: gray;
    opacity: 0.7;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none; 
}
#blur-screen-registration.blurragistration{
    display: block;
}
#registration-form{
    width: 450px;
    height: 550px;
    background-color: #F9F9FF;
    padding: 10px 0px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    display: none;
    transition: 1s;
    z-index: 2;
}
#registration-form.register{
    display: block;
}
#registration-form >form > div{
    margin: 2px  40px;
}
#registration-form-close-icon{
    margin-left: 420px;
    font-size: 24px;
}
#registration-form-close-icon:hover{
    color: red;
    cursor: pointer;
    font-size: 26px;
}
.registration-form-input{
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    background-color: lightgray;
}
#registration-form-button-register{
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
    background-color: #069862;
    margin-top: 25px;
    font-size: 18px;
    cursor: pointer;
}
#registration-form-login-line{
    margin-left: 200px;
    margin-top: 5px;
}
#registration-form-login-here{
    color: #069862;
    cursor: pointer;
    font-weight: bold;
}
#menu-icons{
    position: absolute;
    top: 24px;
    left: 200px;
    font-size: 28px;
    cursor: pointer;
}
#header{
    background: url(./image/home-page/home-banner.jpg) no-repeat center;
    height: 900px;
}
#main-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 280px;
    padding-right: 160px;
    height: 100px;
    align-items: center; 
    position: absolute;
    top: 30px;
    gap: 120px;
}
#main-header.moveup{
    position: absolute;
    top: -9vh;
    left: 0px;
}
#main-header.move{
    width: 100%;
    height: 9.4vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    background-color: #f5f5f5;
    transition: 0.5s;
    padding-top: 3vh;

}
#main-logo{
    display: flex;
    flex-direction: row;
    width: 290px;
}
#logo-tenc{
    height: 120px;
    position: absolute;
    top: -60px;
    padding-bottom: 0px;
    color: #FDC631;
}
#logo-coding{
    font-size: 22px;
    padding-top: 30px;
    color: #002347;
}
.header-content{
    display: flex;
    padding-right: 100px;
    gap: 60px;
    color: #002347;
}
.header-content > div > a{
    text-decoration: none;
    color: black;
}
.header-content > div >a:hover{
    color: #FDC631;
    cursor: pointer;   
}
.header-content > div >a::selection{
    color: #FDC631;
}
.search{
    width: 35px;
    height: 35px;
    position: absolute;
    right: 10px;
    top: 31px;
    padding: 5px 0px 5px 0px;
    padding-left: 10px;
    border: none;
    border-radius: 6px;
/* padding-right: 37px; */
    transition: 0s;
}
.search.move{
    position: absolute;
    top: 20px;
    right: 14px;
    transition: 0s;
}
.search.open{
    width: 200px;
    padding-right: 36px;
    transition: 1s;
}
.search-button{
    position: absolute;
    right: 10px;
    border: none;
    font-size: 18px;
    top: 31px;
    background-color: #EBE4E9;
    cursor: pointer;
    height: 35px;
    width: 36px;
    border-radius: 6px;
    transition: 0s;
}
.search-button.open{
    border-radius: 6px 6px 0px 0px;
    background-color: #ffffff;
    rotate: 90deg;
}
.search-button.move{
    position: absolute;
    top: 20px;
    right: 14px;
    transition: 0s;
}
.sidebar{
    background-color: #022447;
    height: 100vh;
    width: 250px;
    z-index: 2;
    position: fixed;
    top: 0px;
    display: none;
    overflow-y: scroll;
    padding-bottom: 5vh;
}
.sidebar.viwe{
    display: block;
}
.sidebar.fixedbar{
    top: 9vh;
    height: 91vh;
    overflow-y: scroll;
    transition: 0.35s;
}
.sidebar-close{
    cursor: pointer;
    color: #ffffff;
    margin-left: 225px;
    font-size: 24px;
}
.sidebar-close:hover{
    font-size: 30px;
    color: darkred;
}
#sidebar-manu{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 40px;
    gap: 10px;
} 
#sidebar-manu > hr {
    display: none;
}
#sidebar-manu-heading{
    font-size: 34px;
    color: #ffffff;
    margin-bottom: 20px;
    cursor: pointer;
}
.sidebar-manu-cantent{
    color: #7b838a;
    font-size: 18px;
    cursor: pointer;
}
.sidebar-manu-cantent  > a{
    text-decoration: none;
    color: #7b838a;
}
.sidebar-manu-cantent>a:hover{
    color: #ffffff;
    font-size: 22px;
}
#sidebar-courses{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 40px;
    gap: 10px;
}
#sidebar-courses-heading{
    font-size: 34px;
    color: #ffffff;
    margin-bottom: 20px;
    cursor: pointer;
}
.sidebar-courses-cantent{
    color: #7b838a;
    font-size: 18px;
    cursor: pointer;
}
.sidebar-courses-cantent:hover{
    color: #ffffff;
    font-size: 22px; 
}
#sidebar-language{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 40px;
    gap: 10px;
}
#sidebar-language-heading{
    font-size: 34px;
    color: #ffffff;
    margin-bottom: 20px;
    cursor: pointer;
}
.sidebar-language-cantent{
    color: #7b838a;
    font-size: 18px;
    cursor: pointer;
}
.sidebar-language-cantent:hover{
    color: #ffffff;
    font-size: 22px;
}
#center-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    gap: 30px; 
    margin-top: 90px;
}
#center-content-line1{
    font-size: 26px;
    color: rgb(20, 40, 71);
    font-family:"Robort",sans-serif;
}
#center-content-line2{
    font-size: 54px;
    color: rgb(20, 40, 71);
    font-family:"Robort",sans-serif;
}
#center-content-line2-1{
    display: none;
}
#center-button{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#center-button-learn-more{
    padding: 10px 30px;
    background-color: #022447;
    color: #FDC631;
    border-radius: 5px;
    border: none;
    font-family:"Robort",sans-serif;
    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px; */
}
#center-button-learn-more:hover{
    background-color: white;
    color: #022447;
    cursor: pointer;
}

#center-button-see-courses{
    padding: 10px 30px;
    background-color: #FDC631;
    color: #022447;
    border-radius: 5px;
    border: none;
    font-family:"Robort",sans-serif;
}
#center-button-see-courses:hover{
    background-color:#022447 ;
    color: #FDC631;
    cursor: pointer;
}
#awesome-feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 600px;
}
#awesome-feature-text{
    font-size: 39px;
    color: #002347;
    font-family:"Robort",sans-serif;
}
#awesome-feature-text-line{
    color: #7B8389;
}
#awesome-feature-features{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 60px;
}
.awesome-feature-feature{
    width: 350px;
    height: 200px;
    background-color: #F9F9FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
}
.awesome-feature-feature:hover{
    background-color: whitesmoke;
}
#awesome-feature-feature-heading{
    color: #002347;
    font-family:"Robort",sans-serif;
}
#awesome-feature-feature-discription{
    color: #7B8389;
}
#over-courses{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 850px;
}
#over-courses-popular{
    font-size: 39px;
    font-family: "Robort",sans-serif;
    color: #002347;
    font-weight: bold;
}
#over-courses-quat{
    color: #7B8389;
}
#over-courses-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-top: 80px;
}
.over-courses-content-box{
    width: 320px;
    height: 620px;
    background-color: #F9F9FF;
    display: flex;
    flex-direction: column;
}
.over-courses-content-box > img{
    width: 320px;
    height: 230px;
}
.over-courses-content-box-content{
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    margin-top: 60px;
    /* padding-left: 30px;
    padding-right: 30px; */
}
.over-courses-content-box-content > span,h1,p{
    margin-left: 30px;
    margin-right: 30px;
}
.over-courses-content-box-content > span{
    background-color: #002347;
    color: white;
    margin-left: 20px;
    padding: 5px 10px;
}
.over-courses-content-box-content > h1{
    font-family: "Robort",sans-serif;
    margin-top: 30px;
    color: #002347;
}
.over-courses-content-box-content > p{
    color: #7B8389;
    margin-top: 45px;
}
/* .over-courses-content-box-content  > button{
    width: 100%;
    font-size: 16px;
    padding: 10px;
    color: #002347;
    background-color: #FDC631;
}
#over-courses-content-box-ethical-join-button{
    margin-top: 50px;
}
#over-courses-content-box-marketing-join-button{
    margin-top: 65px;
}
#over-courses-content-box-developer-join-button{
    margin-top: 60px;
} */
#over-courses-all-courses{
    margin-top: 40px;
    font-size: 18px;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    background-color: #002347;
    color: #FDC631;
    cursor: pointer;
}
#over-courses-all-courses:hover{
    background-color: #FDC631;
    color: #002347;
}
#over-teachers{
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}
#over-teachers-heading{
    font-size: 39px;
    font-family: "Robort",sans-serif;
    font-weight: bolder;
    color: #002347;
}
#over-teachers-quat{
    color: #7B8389;
    margin-top: 15px;
}
#over-teachers-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 80px;
}
.over-teacher-content{
    display: flex;
    flex-direction: row;
    gap: 30px;
} 
.over-teachers-content-box{
    width: 265px;
    height: 500px;
    background-color: #F9F9FF;
}
.over-teachers-content-box-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.over-teachers-content-box-content >h1{
    margin-top: 20px;
    color: #002347;
    font-family: "Robort",sans-serif;
    font-size: 30px;
}
.over-teachers-content-box-content > span{
    margin-top: 10px;
    font-style: italic;
    color: #7B8389;
}
.over-teachers-content-box-content > p{
    margin-top: 60px;
    color: #7B8389;
}
#footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 120px;
    height: 500px;
    background-color: #002347;
    align-items: center;
}
.footer-content-box{
    display: flex;
    flex-direction: row;
    gap: 120px;
}
#footer-courses{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#footer-courses-heading{
    font-size: 22px;
    font-family: "Rubik", sans-serif;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer-courses-content{
    color: #7b838a;
}
#footer-links,#footer-features,#footer-new-student{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#footer-links-heading,#footer-features-heading,#footer-new-student-heading{
    font-size: 22px;
    font-family: "Rubik", sans-serif;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 20px; 
}
.footer-features-content, #footer-new-student-line-trust-us, .footer-links-content{
    color: #7b838a;
}
#footer-features{
    margin-bottom: 40px;
}
#footer-new-student{
    margin-bottom: 50px;
}
#footer-new-student-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#footer-new-student-input-email{
    background-color: #334F6C;
    border: none;
    padding: 15px 130px 15px 30px;
}
#footer-new-student-input-subscribe-button{
    position: relative;
    right: 70px;
}
#footer-new-student-input-subscribe-button > button{
    padding: 9px 20px 9px 20px;
    background-color: #FDC631;
    color: #002347;
    border: none;
}
#footer-new-student-input-subscribe-button > button:hover{
    cursor: pointer;
    background-color: white;
}
.footer-courses-content:hover,.footer-features-content:hover,.footer-links-content:hover{
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}
.scroll-up-button{
    width: 60px;
    height: 60px;
    background-color: #FDC631;
    border-radius: 50px;
    position: fixed;
    top: 80vh;
    left: 94%;
    cursor: pointer;
    display: none;
}
.scroll-up-button.moveup{
    display: block;
}
#scroll-up-arrow{
    color: #002347;
    font-size: 50px;
    padding-left: 11.5px;
    padding-top: 7px;
}







