*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "roboto",sans-serif;
}
/* #menu-icon{
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 44px;
} */
#login{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 20px;
    padding-top: 10px;
    gap: 10px;
}
#login-button{
    background-color: #FDC631;
    color: #002347;
    border: none;
    padding: 8px 15px;
    border-radius: 50px;
    z-index: 2;
}
#register-button{
    background-color: #002347;
    color: #FDC631;
    border: none;
    padding: 8px 15px;
    border-radius: 50px;
    z-index: 2;
}
#login-button:hover{
    background-color: #002347;
    color: #FDC631;
    cursor: pointer;
}
#register-button:hover{
    background-color: #FDC631;
    color: #002347;
    cursor: pointer;
}
#blur-screen-login{
    width: 100%;
    height: 100vh;
    background-color: gray;
    opacity: 0.7;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
}
#blur-screen-login.blurlogin{
    display: block;
  }
.login-form{
    width: 0px;
    height: 350px;
    background-color: #F9F9FF;
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 5px 40px;
    border-radius: 30px;
    display: none;
}
.login-form.login{
    width: 450px;
    display: block;
    transition: 0.2s;
}
#login-form-close-icon{
    margin-left: 380px;
    margin-bottom: 10px;
    font-size: 24px;
}
#login-form-close-icon:hover{
    color: red;
    cursor: pointer;
    font-size: 26px;
}
.login-form-input{
    width: 100%;
    height: 40px;
    margin-bottom: 40px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    background-color: lightgray;
    padding-left: 10px;
}
#login-form-button-login{
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 50px;
    border: none;
    background-color: #069862;
    cursor: pointer;
}
#login-form-register-line{
    margin-left: 130px;
    margin-top: 20px; 
}
#login-form-register-here{
    color: #069862;
    cursor: pointer;
    font-weight: bold;
}
#blur-screen-registration{
    width: 100%;
    height: 100vh;
    background-color: gray;
    opacity: 0.7;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none; 
}
#blur-screen-registration.blurragistration{
    display: block;
  }
#registration-form{
    width: 450px;
    height: 550px;
    background-color: #F9F9FF;
    padding: 10px 0px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    display: none;
    transition: 1s;
    z-index: 2;
}
#registration-form.register{
    display: block;
}
#registration-form >form > div{
    margin: 2px  40px;
}
#registration-form-close-icon{
    margin-left: 420px;
    font-size: 24px;
}
#registration-form-close-icon:hover{
    color: red;
    cursor: pointer;
    font-size: 26px;
}
.registration-form-input{
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    background-color: lightgray;
}
#registration-form-button-register{
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
    background-color: #069862;
    margin-top: 25px;
    font-size: 18px;
    cursor: pointer;
}
#registration-form-login-line{
    margin-left: 200px;
    margin-top: 5px;
}
#registration-form-login-here{
    color: #069862;
    cursor: pointer;
    font-weight: bold;
}
#background-blur-set{
    /* z-index: -1; */
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #002347; 
    opacity: 0.8;
}
#menu-icons{
    display: none;
  }
#header{
    /* background: url(home-banner.jpg) no-repeat center; */
    height: 400px;
    background: url(../image/banners/banner1.jpg)  no-repeat center ;
}
#main-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    height: 100px;
    align-items: center; 
    position: absolute;
    top: 30px;
    gap: 250px;
}
#main-header.moveup{
    position: absolute;
    top: -9vh;
    left: 0px;
}
#main-header.move{
    padding-top: 20px;
    width: 100%;
    height: 9.4vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    background-color: #002347;
    transition: 0.5s;

}
#main-logo{
    display: flex;
    font-family:"Robort",sans-serif;
}
#logo-tenc{
    font-size: 60px;
    padding-bottom: 20px;
    color: #FDC631;
}
#logo-coding{
    font-size: 24px;
    padding-top: 30px;
    color: white;
}
.header-content{
    display: flex;
    padding-right: 100px;
    gap: 60px;
    color: #002347;
}
.header-content > div > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.header-content > div >a:hover{
    color: #FDC631;
    cursor: pointer;
}
.search{
    width: 0px;
    height: 35px;
    position: absolute;
    left: 1180px;
    top: 31px;
    padding: 5px 0px 5px 0px;
    padding-left: 10px;
    border: none;
    border-radius: 6px;
/* padding-right: 37px; */
    transition: 1s;
    background-color: transparent;
    float: left;
}
.search.open{
    width: 200px;
    padding-left: 42px;
    transition: 1s;
    background-color: white;
}
.search-button{
    position: absolute;
    left: 1180px;
    border: none;
    font-size: 18px;
    top: 31px;
    background-color: transparent;
    cursor: pointer;
    height: 35px;
    width: 36px;
    border-radius: 6px;
    transition: 1s;
    color: white;
}
.search-button.hide{
    display: none;
}
.search-button.open{
    border-radius: 0px 0px 6px 6px;
    background-color: #ffffff;
    rotate: 90deg;
    color: black;
}
.sidebar{
    background-color: #022447;
    height: 900px;
    width: 250px;
    z-index: 2;
    position: absolute;
    top: 0px;
    display: none;
  }
  .sidebar.viwe{
    display: block;
  }
  .sidebar-close{
    cursor: pointer;
    color: #ffffff;
    margin-left: 225px;
    font-size: 24px;
  }
  .sidebar-close:hover{
    font-size: 30px;
    color: darkred;
  }
  #sidebar-manu{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 40px;
    gap: 10px;
  } 
  #sidebar-manu > hr {
    display: none;
  }
  #sidebar-manu-heading{
    font-size: 34px;
    color: #ffffff;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .sidebar-manu-cantent{
    color: #7b838a;
    font-size: 18px;
    cursor: pointer;
  }
  .sidebar-manu-cantent  > a{
    text-decoration: none;
    color: #7b838a;
  }
  .sidebar-manu-cantent>a:hover{
    color: #ffffff;
    font-size: 22px;
  }
  #sidebar-courses{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 40px;
    gap: 10px;
  }
  #sidebar-courses-heading{
    font-size: 34px;
    color: #ffffff;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .sidebar-courses-cantent{
    color: #7b838a;
    font-size: 18px;
    cursor: pointer;
  }
  .sidebar-courses-cantent:hover{
    color: #ffffff;
    font-size: 22px; 
  }
  #sidebar-language{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 40px;
    gap: 10px;
  }
  #sidebar-language-heading{
    font-size: 34px;
    color: #ffffff;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .sidebar-language-cantent{
    color: #7b838a;
    font-size: 18px;
    cursor: pointer;
  }
  .sidebar-language-cantent:hover{
    color: #ffffff;
    font-size: 22px;
  }
#center-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    gap: 10px; 
}
#center-content-line1{
    font-size: 46px;
    color: white;
    font-family:"Robort",sans-serif;
    font-weight: bolder;
    z-index: 2;
    /* padding-bottom: 30px; */
}
#center-content-line2{
    font-size: 16px;
    color: white;
    font-family:"Robort",sans-serif;
    font-weight: bolder;
    z-index: 2; 
}
#center-content-line2 > b > span > a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
#about-info{
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 600px;
    margin-right: 200px;
}
#about-info-image > img {
    height: 400px;
    position: absolute;
    top: 77vh;
    left: 12%;
}
#about-info-content{
    display: flex;
    flex-direction: column;
    gap: 60px;
    border: #F9F9FF 10px solid;
    height: 450px;
    width: 700px;
    justify-content: center;
    padding-left: 100px;
    padding-right: 60px;
    margin-bottom: 10px;
    gap: 70px;
}
#about-info-content > p{
    color: #7B8389;
}
#about-info-content-heading{
    font-size: 34px;
    color: #002347;
    font-weight: bolder;
}
#about-info-content > a{
    padding: 10px 10px;
    width: 170px;
    background-color: #FDC631;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    color: #002347;
}
#about-info-content > a:hover{
    background-color: #002347;
    cursor: pointer;
    color: #FDC631;
}
#about-info-content > button > a:hover{
    color: #FDC631;
}
#about-info-content > button >i{
    font-size: 20px;
    padding-left: 10px;
}
#awesome-feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 600px;
    background-color: #002347;
}
#awesome-feature-text{
    font-size: 39px;
    color: white;
    font-family:"Robort",sans-serif;
}
#awesome-feature-text-line{
    color: #7B8389;
}
#awesome-feature-features{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 60px;
    position: relative;
}
.awesome-feature-feature{
    width: 350px;
    height: 200px;
    background-color: #F9F9FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
}
.awesome-feature-feature:hover{
    background-color: whitesmoke;
}
#awesome-feature-feature-heading{
    color: #002347;
    font-family:"Robort",sans-serif;
}
#awesome-feature-feature-discription{
    color: #7B8389;
}
#over-teachers{
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}
#over-teachers-heading{
    font-size: 39px;
    font-family: "Robort",sans-serif;
    font-weight: bolder;
    color: #002347;
}
#over-teachers-quat{
    color: #7B8389;
    margin-top: 15px;
}
#over-teachers-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 80px;
}
.over-teachers-content-box{
    width: 265px;
    height: 500px;
    background-color: #F9F9FF;
}
.over-teachers-content-box-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.over-teachers-content-box-content >h1{
    margin-top: 20px;
    color: #002347;
    font-family: "Robort",sans-serif;
    font-size: 30px;
}
.over-teachers-content-box-content > span{
    margin-top: 10px;
    font-style: italic;
    color: #7B8389;
}
.over-teachers-content-box-content > p{
    margin-top: 60px;
    color: #7B8389;
}
#footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 120px;
    height: 500px;
    background-color: #002347;
    align-items: center;
}
.footer-content-box{
    display: flex;
    flex-direction: row;
    gap: 120px;
}
#footer-courses{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#footer-courses-heading{
    font-size: 22px;
    font-family: "Rubik", sans-serif;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer-courses-content{
    color: #7b838a;
}
#footer-links,#footer-features,#footer-new-student{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#footer-links-heading,#footer-features-heading,#footer-new-student-heading{
    font-size: 22px;
    font-family: "Rubik", sans-serif;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 20px; 
}
.footer-features-content, #footer-new-student-line-trust-us, .footer-links-content{
    color: #7b838a;
}
#footer-features{
    margin-bottom: 40px;
}
#footer-new-student{
    margin-bottom: 50px;
}
#footer-new-student-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#footer-new-student-input-email{
    background-color: #334F6C;
    border: none;
    padding: 15px 130px 15px 30px;
}
#footer-new-student-input-subscribe-button{
    position: relative;
    right: 70px;
}
#footer-new-student-input-subscribe-button > button{
    padding: 9px 20px 9px 20px;
    background-color: #FDC631;
    color: #002347;
    border: none;
}
#footer-new-student-input-subscribe-button > button:hover{
    cursor: pointer;
    background-color: white;
}
.footer-courses-content:hover,.footer-features-content:hover,.footer-links-content:hover{
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}
.scroll-up-button{
    width: 60px;
    height: 60px;
    background-color: #FDC631;
    border-radius: 50px;
    position: fixed;
    top: 80vh;
    left: 94%;
    cursor: pointer;
    display: none;
}
.scroll-up-button.moveup{
    display: block;
}
#scroll-up-arrow{
    color: #002347;
    font-size: 50px;
    padding-left: 11.5px;
    padding-top: 7px;
}